h1 {
    font-weight: bold;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
}
.imgpreview{
  width: 400px !important;
  height:400px !important;
}
.ss{
  overflow-wrap: break-word;
}
